<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
    crossorigin="anonymous"></script>
    <style>
        #video-grid{
            display: flex;
        }
        video{
            width: 300px;
            object-fit: cover;
            margin: 0 10px 0 0;
        }
    </style>
</head>
<body>
    <div id="video-grid">

    </div>

    <button id="btnOff">Tắt camera</button>
    <button id="btnOn" style="display: none;">Bật camera</button>
</body>
</html>