/* Befor */
body{
    color: #113484 ;
    height: 100%;
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
}
.box{
    display: flex;
}
.bgr{
    padding-bottom: 450px;
    background-image: url('../img/bg2.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
/* more */
.white-text{
    color: #fff;
}
.form2 {
    width: 500px;
    background-color: rgba(30, 0, 0, 0.2);
    margin-top: 20px;
}
.w3-button:hover {
    background-color: #113484 !important;
}
  
.send-button{
    background: #54C7C3;
    width:100%;
    font-weight: 600;
    /* color:#fff; */
    padding: 8px 25px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
.g-button{
    /* color: #fff !important; */
    border: 1px solid #EA4335;
    background: #ea4335 !important;
    width:100%;
    font-weight: 600;
    /* color:#fff; */
    padding: 8px 25px;
}
.my-input{
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: text;
    padding: 8px 10px;
    transition: border .1s linear;
}
.header-title{
    margin: 5rem 0;
}
h1{
    font-size: 31px;
    line-height: 40px;
    font-weight: 600;
    color:#4c5357;
}

#create-room {
    margin: 5px auto;
    background-color: #d66fe4;
    padding: 3px 5px;
    border: none;
    color: #fff;
    border-radius: 10px;
}

#join-room {
    margin: 5px auto;
    background-color: #0066ff;
    padding: 5px 8px;
    border: none;
    color: #fff;
    border-radius: 5px;
}
