* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tab-btn{
    background-color: transparent;
    border: none;
}
.wrapper {
    display: flex;
}

.l-main{
    background-color: #000;
    width: 80%;
    height: 100vh;
    overflow-y: scroll;
    
}

#screen {
    height: 100% !important;
    width: 100% !important;
}

.r-main{
    width: 20%;
    
    background: -webkit-linear-gradient(5deg, #006666, #00001a);

}
.list-cam {
    align-items: center;
    height: auto;
    justify-content: center;
    width: 100%;
    padding: 0.4%;
    overflow: hidden;
    /* display: grid; */
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 230px));
    

}
.cam {
    flex-flow: wrap;
    animation: fadeOut .65s;
    height: 220px;
    background-color: #252323;
    margin: 0.5%;
    border-radius: 10px;
    /* display: flex; */
    float: left;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 300px;
    color: #fff;
    text-align: center;
}

.cam img{

    display: block;
    width: 50%;
    height: 100px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

    background-size: cover;
    padding: 0%;
}

.present {
    display: none;
    width: 100%;
    height: 85vh;
    background-color: #3f3f3f;
    /* display: none; */
}

button{
    outline: none !important;
}
.bot-control{
    height: 90%;
}
.top-control {
    width: 100%;
    align-items: center;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(40px, 50px));
    justify-content: center;
    background-color: black;
}
/* -----------------form login------------------- */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 100px !important;
  }
  .tall {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 100px;
}
.tal {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    padding: 3% 5% 3% 5%;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}
@media screen and (max-width: 490px) {
    .up h2, .overlay-panel h2{
      font-size: 20px;
    }
   .overlay-panel p{
      font-size: 13px;
    }
    .or, span {
      font-size: 10px;
    }
  }
  @media screen and (max-width: 350px) {
    .up h2{
      font-size: 20px;
    }
     .up h2, .overlay-panel h2{
      font-size: 17px;
    }
   .overlay-panel p{
      font-size: 10px;
    }
  }
  .up form{
    
    background-color: #FFFFFF;
    display:inherit;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2% 10%;
    height: 100%;
    text-align: center;
  }
  .buton {
    border-radius: 20px;
    border: 1px solid #b3e6ff;
    background-color: #1ab2ff;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

form .form {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
}

.form-container input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    
}

.tal {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

.social-container {
    margin: 5% 0px;
}
.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.top-control button{
    background-color: black    ;
    color: #fff;
    border: none;
}
.out{
    background-color: brown !important;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: -webkit-linear-gradient(to right, #3cb7f5, #0981bd);
    background: linear-gradient(to right, #0382c2, #066594);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10%;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}
@media screen and (max-width: 490px) {
    .up h2, .overlay-panel h2{
      font-size: 20px;
    }
   .overlay-panel p{
      font-size: 13px;
    }
    .or, span {
      font-size: 10px;
    }
  }
  @media screen and (max-width: 350px) {
    .up h2{
      font-size: 20px;
    }
     .up h2, .overlay-panel h2{
      font-size: 17px;
    }
   .overlay-panel p{
      font-size: 10px;
    }
  }


.user {
    display: flex;
    color: #fff;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}
.user i{
    align-self: center;
    font-size:25px;
    color:#ffff;
    max-width: 25px;
    min-width: 25px;
}
.user img {
    width: 40px;
    border-radius: 100%;
}
.user span {
    width: 180px;
    font-size: 15px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.overf{
    width: 80%;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    max-width: 170px;
}

.chat-box {
    overflow: scroll;
    width: 100%;
    height: 80vh;
    padding: 5px;
    color: #fff;
}
.chat-box .msg {
    margin-bottom: 15px;
}
.chat-box .msg .name {
    font-weight: bold;
}
.tabs{
    overflow: scroll;
}
.bton{
    padding-top: 20px;;
    text-align: center;
}

.bton button{
    padding: 3px;
    border-radius: 50%;
    text-align: center;
}
.info{
    position: fixed;
    bottom: 0px;
    background-color: #fff;
    width: 100%;
}

.list-tab{
    overflow: scroll;
    height: 100%;

}

:focus-visible {
    outline: none;
}


button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}
.tab-ctr{
    background-color: #282A35;
    justify-content: center;
    overflow: hidden;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(20px, 10px));
}
.tab-ctr button i{
    vertical-align: -webkit-baseline-middle;
    padding: 5px 0px 5px 0px;
    font-size:25px;
    color:#ffff;
}
.l-main::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}

.l-main::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

.l-main::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid transparent;  /* creates padding around scroll thumb */
}

.list-tab::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}

.list-tab::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

.list-tab::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid transparent;  /* creates padding around scroll thumb */
}
/*  */
.chat-box::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}

.chat-box::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid transparent;  /* creates padding around scroll thumb */
}
.mic{
    display: contents;
    width: 25px;
    height: 25px;
    align-self: center;
}

.search{
    padding: 5px;
    width: 100%;
    text-align-last: center;
    color: #fff;
    
}
.search input{
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
}
.search button{
    background: transparent;
    border: none;
    color: #fff;
    vertical-align: text-top;
}
.title{
    text-align-last: center;
    margin  : 10px;
    background-color: transparent;
    border: #00001a 5px ;
    border-style: dotted solid;
    
}
.chat-input{
    margin: 2px;
    margin-bottom: 10px;
    display: flex;
    border: 1px;
    min-height: 35px;
    background-color: rgba(15, 0, 0, 0.7);
    border-radius: 5px;
}
.chat-input input{
    background-color: transparent;
    border:none;

}
.chat-input button {
    background-color: transparent;
    color: #fff;
    border: none;
    position: absolute;
    right: 0;
}
:focus-visible {
    outline: none;
}


button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color !important;
}
video {
    width: 300px;;

}


/* ------------- */

.form-container form .field input{
  width: 100%;
  height: 100%;
  border: 1px solid lightgrey;
  padding-left: 15px;
  outline: none;
  border-radius: 5px;
  font-size: 17px;
  transition: all 0.3s;

}
.form-container form .field input::placeholder{
  font-size: 16px;
}

.form-container form .field .show{
  width: 10%;
  font-size: 14px;
  font-weight: 600;
  user-select: none;
  cursor: pointer;
  display: none;
}

.form-container form button{
  width: 100%;
  height: 45px;
  margin: 3px 0 10px 0;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: no-drop;
  opacity: 0.7;
}
.form-container form button.active{
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s;
}
