/* @media screen and (max-width: 1490px){
    .cam {
        height: 143px;
    }
}
@media screen and (min-width: 1600px){
    .cam {
        height: 175px !important;
    }
} */
/* @media screen and (max-width: 1200px){
    .cam {
        width: 30% !important;
    }
} */
@media screen and (min-width: 1200px){

}
@media screen and (max-width: 1100px){

}
/* @media screen and (max-width: 1036px){
    .cam {
        width: 32.3% !important;
        height: 160px;
    }

} */
@media screen and (max-width: 992px){

}
@media screen and (min-width: 992px){

}
@media screen and (max-width: 768px){
    
}
@media screen and (max-width: 576px){

}
@media screen and (min-width: 576px){

}
@media screen and (max-width: 456px){

}

