<!DOCTYPE html>
<html lang="en" style="background-color:hsl(180, 70%, 58%);">
<head>
    <%- include('../partials/head') %> 
</head>
<body class="bg">
    <header>
        <%- include('../partials/header') %> 
    </header>
    <div class="container-fluid bgr">
        <div class="container">
            <div class="col-md-6 mx-auto text-center">
            <div class="header-title">
                <h1 class="white-text wv-heading--title ">
                    Talk Hub
                </h1>
                <h3 class="white-text wv-heading--subtitle">
                    Cùng nhau trò chuyện, Talk Hub là nơi bạn có thể trò chuyện với nhóm bạn, học tập, nhóm chơi game và nhiều thứ khác nữa...
                </h3>
            </div>
            </div>
            <div class="row">
                <div class="wr" style="margin: 0 auto;text-align: center;">
                    <input type="text" id="id-room">
                    <button id="join-room">Join</button> <br>
                    <button id="create-room"> 
                        <img src="https://img.icons8.com/ios-glyphs/30/ffffff/plus.png"/>
                        Create room
                    </button>
                </div>
            </div>
        </div>
    </div>   
    <!-- <footer>
        <%- include('../partials/footer') %> 
    </footer> -->
    
        <%- include('../partials/foot') %>

    <script>
        function uuidv4() {
            return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            );
        }

        $("#create-room").click(() => {
            const id = uuidv4();
            window.location = `/${id}`;
        });

        $("#join-room").click(() => {
            const id = $("#id-room").val();
            window.location = `/${id}`;
        });
    </script>
</body>
</html>