<!DOCTYPE html>
<html lang="en" style="background-color:hsl(180, 70%, 58%);">
<head>
    <%- include('../partials/head') %> 
</head>
<body class="bg">
    <header>
        <%- include('../partials/header') %> 
    </header>
    <div class="container-fluid bgr">
        <!-- login/signup -->
        <div id="id01" class="modal">
            <div class="container tal" id="container">
                <div class="form-container sign-up-container up">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close pr-2"
                        style="font-family: 'Caveat', cursive; cursor:pointer; font-size: 200%;"
                        title="Close Modal">&times;</span>
                    <form action="#">
                        <h2><b>SIGN UP</b></h2>
                        <div class="social-container">
                            <a href="#" class="social fb"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="social gg"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#" class="social in"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                        <span>or use your email</span>
                        <input onfocus="this.value=''" type="text" placeholder="User name" />
                        <input onfocus="this.value=''" type="email" placeholder="Pass" />
                        <input onfocus="this.value=''" type="password" placeholder="Re-enter password again" />
                        <button class="buton">SIGN UP</button>
                    </form>
                </div>
                <div class="form-container sign-in-container up">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close pr-2"
                        style="font-family: 'Caveat', cursive; cursor:pointer; font-size: 200%;"
                        title="Close Modal">&times;</span>
                    <form action="#">
                        <h2 class="py-2"><b>LOG IN</b></h2>
                        <div class="social-container">
                            <a href="#" class="social fb"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="social gg"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#" class="social in"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                        <span class="or">or use your email</span>
                        <input type="email" placeholder="Email" />
                        <input onfocus="this.value=''" type="password" placeholder="password?" />
                        <a class="or" href="#">Forget password?</a>
                        <button class="buton">log in</button>
                    </form>
                </div>
                <div class="overlay-container">
                    <div class="overlay">
                        <div class="overlay-panel overlay-left">
                            <h2 class="py-2">Welcome back!</h2>
                            <p>Sign in so Pỏn hub can take care of you more</p>
                            <button class="ghost buton" id="signIn">Sign in</button>
                        </div>
                        <div class="overlay-panel overlay-right">
                            <h2>Hello bro</h2>
                            <p>Enter your personal information and get started with Pỏn hub</p>
                            <button class="ghost buton" id="signUp">Sign up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End form -->
        <div class="container">
            <div class="col-md-6 mx-auto text-center">
            <div class="header-title">
                <h1 class="white-text wv-heading--title ptt">
                    Talk Hub
                </h1>
                <h3 class="white-text wv-heading--subtitle">
                    Talk together, Talk Hub is where you can chat with your group of friends, study, gaming group and more...
                </h3>
            </div>
            </div>
            <div class="row">
                <div class="wr" style="margin: 0 auto;text-align: center;">
                    <input type="text" id="id-room">
                    <button id="join-room">Join</button> <br>
                    <button id="create-room"> 
                        <img src="https://img.icons8.com/ios-glyphs/30/ffffff/plus.png"/>
                        Create room
                    </button>
                </div>
            </div>
        </div>
    </div>   
    <!-- <footer>
        <%- include('../partials/footer') %> 
    </footer> -->
    
        <%- include('../partials/foot') %>

    <script>
        function uuidv4() {
            return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            );
        }

        $("#create-room").click(() => {
            const id = uuidv4();
            window.location = `/${id}`;
        });

        $("#join-room").click(() => {
            const id = $("#id-room").val();
            window.location = `/${id}`;
        });

        //login form
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
            container.classList.add('right-panel-active');
        });

        signInButton.addEventListener('click', () => {
            container.classList.remove('right-panel-active');
        });
    </script>
</body>
</html>