<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
</head>
<body>
    <script>
        const ROOM_ID = "<%= roomId %>";
        console.log(ROOM_ID);
    </script>

    <div class="wrapper">
        
        <div class="l-main">
            <div class="present">
                <video autoplay id="screen"></video>
            </div>
            <div class="list-cam" id="lc">
            </div>
            
        </div>

        <!-- List-user -->
        <div class="r-main">
            <div class="bot-control">
                <div class="tab-ctr">   
                    <button class="tab-btn" onclick="changeTab('list')"><i class="material-icons">group</i></button>
                    <button class="tab-btn" onclick="changeTab('chat')"><i class="material-icons">chat</i></button>
                    <button class="tab-btn" onclick="changeTab('info')"><i class="material-icons">info</i></button> 
                </div>
                <div id="list" class="list-tab tab">
                    <div class="search pt-2"><h5>People in call</h5></div>
                    <div class="search"><input type="text" placeholder="Search..."></div>
                    <div class="list-users">

                    </div>
                </div>
                  
                <div id="chat" class="chat-tab tab" style="display:none">
                    <div class="chat-box">

                    </div>
                    <div class="chat-input form__group field">
                        <input type="text" id="chat-input" class="form__field pl-3 py-2 text-white" autocomplete="off" placeholder="Send message.. " name="name" id='name' />
                        
                        <button type="submit" id="submit-chat"><i class="material-icons px-2 py-1 mt-1" title="send">send</i></button>
                      </div>
                </div>

                <div id="info" class="list-tab tab" style="display:none" >
                    <div class="search pt-2"><h5>Detail room</h5></div>
                    <div class="title px-2 py-2">
                        <div class="text-white px-3">
                            <div class="">Joining info</div>
                            <div class="">https://</div>
                            <div class="">ID room</div>
                            <div class="">Creat at: 90:15 AM</div>
                        </div>
                        <!-- The text field -->
                        <input type="text" value="IDroom" id="IDroom" style="display: none;">
                        <!-- The button used to copy the text -->
                        <div style="text-align: center;">
                            <button style="background-color: transparent; text-align: center; border: none; color: wheat;" onclick="GetID()">Copy IDroom <i class="material-icons pl-2" title="coppy id room">content_copy</i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-control">
                <button class=" px-1 py-1" id="btn-share-screen"><i class="material-icons px-1 py-1 mt-1" title="present">present_to_all</i></button>
                <button class=" px-1 py-1" id="btn-stop-share" style="display:none;"><i class="material-icons outlined px-1 py-1 mt-1" title="stop present">stop_screen_share</i></button>
                <button class=" px-1 py-1" ><i class="material-icons px-1 py-1 mt-1" title="turn off mic">mic_off</i></button>
                <button class=" px-1 py-1" style="display:none;"><i class="material-icons px-1 py-1 mt-1" title="turn off camera">photo_camera</i></button>
                <button class=" px-1 py-1" ><i class="material-icons px-1 py-1 mt-1" title="turn off camera">no_photography</i></button>
                <button class="out px-1 py-1" ><i class="material-icons px-1 py-1 mt-1" title="out room">call_end</i></button>
            </div>
        </div>
    </div>

    <footer>
        <%- include('../partials/footer') %> 
    </footer>

    <%- include('../partials/foot') %>

    <script src="js/script.js" defer></script>
    <script>
        function changeTab(tab) {
            var i;
            var x = document.getElementsByClassName("tab");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
            }
            document.getElementById(tab).style.display = "block";  
        }
    </script>
</body>
</html>