<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
</head>
<body>
    <script>
        const ROOM_ID = "<%= roomId %>";
        console.log(ROOM_ID);
    </script>

    <div class="wrapper">
        
        <div class="l-main">
            <div class="present">
                <video autoplay id="screen"></video>
            </div>
            <div class="list-cam" id="lc">
            </div>
            
        </div>

        <!-- List-user -->
        <div class="r-main">
            <div class="bot-control">
                <div class="tab-ctr">   
                    <button class="tab-btn" onclick="changeTab('list')"><i class="material-icons">group</i></button>
                    <button class="tab-btn" onclick="changeTab('chat')"><i class="material-icons">chat</i></button>
                    <button class="tab-btn" onclick="changeTab('info')"><i class="material-icons">info</i></button> 
                </div>
                <div id="list" class="list-tab tab">
                    <div class="search"><input type="text" placeholder="Search..."></div>
                    <div class="list-users">

                    </div>
                </div>
                  
                <div id="chat" class="chat-tab tab" style="display:none">
                    <div class="chat-box">

                    </div>
                    <div class="chat-input">
                        <input type="text" id="chat-input" placeholder="Enter your message..." autocomplete="off">
                        <button type="submit" id="submit-chat"> Enter </button>
                    </div>
                </div>

                <div id="info" class="list-tab tab" style="display:none" >
                    <div class="Title">
                        
                    </div>
                </div>
            </div>
            <div class="top-control">
                <button id="btn-share-screen">Present</button>
                <button id="btn-stop-share" style="display: none;">Stop Present</button>
                <button>Off mic</button>
                <button>Off Cam</button>
                <button>End</button>
            </div>
        </div>
    </div>

    <footer>
        <%- include('../partials/footer') %> 
    </footer>

    <%- include('../partials/foot') %>

    <script src="js/script.js" defer></script>
    <script>
        function changeTab(tab) {
            var i;
            var x = document.getElementsByClassName("tab");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
            }
            document.getElementById(tab).style.display = "block";  
        }
    </script>
</body>
</html>